.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

i{
  cursor: pointer;
}

.cred-row{
  width:90%;
}

.sign-in-box {
  width: 500px;
  max-height: 1500px;
  border-radius: 25px;
  border-width: 10px;
  border-style: solid; 
  border-color: beige; 
  background-color:black
}

/* body{
  height:100%;
  width:100%;
  background:linear-gradient(rgba(92, 11, 243, 0.5),transparent);
  background-color:rgb(219, 72, 195); /*this your primary color*/
/* } */ 
